<div>
  <h2>My Heros</h2>
  <div>
    <label>Hero name: </label><input #heroName/>
    <button (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>
      {{selectedHero.name | uppercase}} is my hero.
    </h2>
    <button (click)="gotoDetail()">click detail</button>
  </div>

  <h1 [myHighlight]="color">red directive</h1>
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>
  <p [myHighlight]="color" defaultColor="violet">Highlight me</p>

</div>
